body {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20210831/pngtree-wall-grain-texture-dark-gray-background-image_779339.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    list-style-type: none;
}

input {
    font-size: 25px;
}

.block_1 h2 {
    font-size: 25px;
}

.block_1 {
    display: inline-block;
}

.block_2 {
    display: inline-block;
}

.block_3 {
    display: inline-block;
}

.block_4 {
    display: inline-block;
}